body{
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: "default1";
	src: url("fonts/TrajanPro-Bold") format("opentype");
}

@font-face {
	font-family: "default2";
	src :url("fonts/pristina.ttf") format("truetype");
}

.header{
/*	display: flex;
	flex-wrap: wrap;*/
	padding: 10px 0px 10px 0px;
	width:100%;
	background-color: #eaeaea;
	color: #daa520;
	text-align: center;
	text-shadow: 0px 3px 10px #eee8aa;
	font-size: 48px;
	font-family: default1;
	font-weight: bolder;
}

#log{
	height: 6.25%;
	width: 6.25%;
	transition: all 0.5s ease-out;
	z-index: 15;
}

.nav{
	background-color: #333333;
	color:#ffd700;
	text-align: center;
	margin: 0px;
	width: 100%;
	z-index: 10;
	transition: all 0.3s linear;
}

.nav ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	margin: 0px;
}

.nav ul li{
	padding: 15px 30px 15px 30px;
	margin: 0px auto 0px auto;
	transition: all 0.5s ease-out;
}

.nav ul li:hover{
	background-color: #ffd700;
	color: #333333;
	transform: translateY(-10px);
}

.container{
	background-image: url("img/hobak.png");
	background-size: cover;
	height: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

@keyframes rotate {
  from{
    transform: rotateZ(0deg);
  }

  to{
    transform: rotateZ(360deg);
  }
}

@keyframes rotateb {
  from{
    transform: rotateZ(360deg);
  }

  to{
    transform: rotateZ(0deg);
  }
}


.text {
  width: 10%;
  height: auto;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  margin: auto;
  animation-name: rotate;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.text > * {
  display: block;
  animation-name: rotateb;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
}

.text > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(10em) rotate(0deg);
          transform: rotate(0deg) translate(10em) rotate(0deg);
}

.text > *:nth-of-type(2) {
  -webkit-transform: rotate(72deg) translate(10em) rotate(-72deg);
          transform: rotate(72deg) translate(10em) rotate(-72deg);
}

.text > *:nth-of-type(3) {
  -webkit-transform: rotate(144deg) translate(10em) rotate(-144deg);
          transform: rotate(144deg) translate(10em) rotate(-144deg);
}

.text > *:nth-of-type(4) {
  -webkit-transform: rotate(216deg) translate(10em) rotate(-216deg);
          transform: rotate(216deg) translate(10em) rotate(-216deg);
}

.text > *:nth-of-type(5) {
  -webkit-transform: rotate(288deg) translate(10em) rotate(-288deg);
          transform: rotate(288deg) translate(10em) rotate(-288deg);
}


.text img{
	width: 40px;
	height: 40px;
}

.type{
	font-family: "default2";
	font-size: 45px;
	color: #ffffff;
	padding-left: 40px;
	padding-top: 100px;
	width:50%;
	padding-right: 10px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 15px auto;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.stext {
  color: #333333;
  font-size: 20px;
  padding: 0px 15px 0px 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
  background-color: rgba(255,255,255,0.5);
  border-top: 3px solid #333333;
}

.stext h1{
  text-align: center;
  color: #333333;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.phase{
  margin: 10px 25px 10px 25px;
  border: 2px solid #333333;
}

.phead{
  background-color: #333333;
  color: #ffd700;
  font-size: 24px;
  padding: 10px 0px 10px 15px;
  margin-bottom: 15px;
}

.pcont{
  display: flex;
  flex-wrap: wrap;
}

.pcard{
  width: 40%;
  margin: 0px auto;
  margin-bottom: 15px;
  background-color: #dbdcd8;
  overflow: hidden;
  height: 150px;
}

.cardhead{
  background-color: #dc162d;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto 0px;
  transition: all 0.4s ease-out;
  font-family: "default2";
  font-size: 36px;
  font-weight: bolder;
  color: #ffd700;
}

.cardcont{
  padding: 20px 10px 20px 15px;
}

.pcard:hover .cardhead{
  height: 0px;
}

.ptit{
  position: relative;
  top: 10%;
  text-align: center;
}

.ptit img{
  width: 64px;
  height: 64px;
}

.team{
  border: 2px solid #333333;
  margin: 40px 20px 0px 20px;
  height: 150px;
}

.teamhead{
  background-color: #ffffff;
  font-family: "default2";
  font-size: 36px; 
  margin-top: -20px;
  margin-left: 20px;
  width: 130px;
  padding: 0px 10px 0px 10px;

}